h1{color: rgb(63, 51, 13);
    background-color: rgb(226, 209, 168);
    font-size: 200%;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(241, 234, 234);
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    margin: 20px;
}

p {color: saddlebrown;}
h2 {color: blue;}

@font-face {
    font-family: myFirstFont;
    src: url(coffee-healing-font.zip);
}
div{ font-family: myFirstFont;}



